body{
    padding: 0.5em;
}
.navbar-light{
    
}
.jumbotron{
    background-color:aliceblue;
    text-align: center;
}
.btn-primary
{
    height: 1.5em;
    padding-top: 0em;
}
#foto_resize{
    height: 24em
}