.head_container{
    margin: -0.5em;
}

.head_div{
    color: white;
    text-align: center;
    font-size: 35;
    background-color: blueviolet;
    padding: 0.125em;
    text-transform: uppercase;
    
}

.heading{
    font-size: 1.5em;
}

.sub_div{
    display: flex;
    color: blueviolet;
    font-weight: 800;
    justify-content: space-around;
    background-color: white;
}

#hard_easy,#new_color_span,#tryAgain{
    padding: 0.3em;
    transition: all 0.8s;
}

#hard_span,#easy_span{
    padding: 0.3em;
    transition: all 0.8s;
}

#new_color_span:hover,#hard_span:hover,#easy_span:hover{
    
    color: white;
    background-color: blueviolet;
}

.row_container{
    padding: 3.7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row1{
    display: flex;
    justify-content: center;
    
}

.row2{
    display: flex;
    justify-content: center;
    padding:0.5em;
    
}

.column{
    color: white;
    padding: 4em;
    border-radius: 20px;
    margin-right:0.5em;
}

.column:hover{
    opacity: 0.8;
}

body{
    background-color: rgb(4,24,0);
}