body{
    background-image: url(nightsky.jpg);
}

.form-control{
    background-image: url(nightsky.jpg);
}

.jumbotron{
    color: white;
    text-align: center;
    letter-spacing: 1px;
    background-image: url(nightsky.jpg);
    font-weight: 80;
}

.display-4{
    text-shadow: 1px 1px ;
}

.row{
    padding:;
}
.col-sm-6{
    text-align: center;
    padding: 20;
}
.gallery_span{
    color: rgb(189,15,91);
}


.fas-dropdown{
    color: rgb(189,15,91);
    margin-right: 10;
    display: none;
}

.dropdown-item:hover .fas-dropdown{
    display: inline-block
}
