.navbar{
    background-color: steelblue;
}
.jumbotron{
    text-align: center;
}

.row{
    padding: 50;
}
.col{
    text-align: center;
}
.gallery_span{
    background-color: aliceblue;
    padding: 3;
    box-sizing: border-box;
}
.far{
    color: rgb(189,15,91);
}
.far:hover{
    color: rgb(1,1,91);
}

.fas-dropdown{
    color: rgb(189,15,91);
    margin-right: 10;
    display: none;
}

.dropdown-item:hover .fas-dropdown{
    display: inline-block
}
