body{
                margin:0;
                width: 99.7%;
                background-color: beige;
            }
            .container1{
                border:2px solid rgb(189,19,91);
                background-color: rgb(179,45,21);
                color: yellow;
                font-size: 2em;
                text-align: center;
                padding: 12px;
                display: flex;
                justify-content: space-around;
                
            }
            #img1{
                width: 20%;
            }
            
            #img2{
                width:15%;
            }
            
            
            nav{
                background-color: ;
            
            }
            
            nav ul{
                list-style-type: none;
                display: flex;
                justify-content: space-between;            
                color: white;
                margin-left: -49px;
                
            }
            
            nav ul li{
                padding: 10;
            }
            
            a{
                color: white;
                text-decoration: none;
                padding: 8;
            }
            
            #a1{
                border-bottom: 4px solid black;
            }
            
            
            
            @media (max-width:1000px)
            {
            
                
                .container1{
                  
                    font-size: 1.1em;
                }
                #img1,#img2{
                    width: 28%;
                    height: 250;
                }
            }
            
            @media (max-width:550px)
            {
             nav ul{
                    flex-direction: column;
                    font-size: 30;
                }
                
                #img1{
                    width: 100%;
                    height: 280;
                }
                
                .container1{
                   flex-direction: column;
                    font-size: 1em;
                }
                
                #img2
                {
                    display: none;
                }
                
            }
            
            
            
            
            #img3{
                width: 40%;
            }
            
            .container2{
                
                width: 99%;
                display: flex;
                justify-content: space-around;
                text-align: justify;
                font-family: cursive;
                font-size: 21px;
                color: rgb(179,45,21);
                
            }
#dryfruit{
    padding: 35px;
}

#allspice{
    padding: 40px;
    }

@media (max-width:750px)
{
    .container2{
        flex-direction: column-reverse;
        font-family: sans-serif;
    }
    
    #img3{
        width:100%;
        padding: 3px;
    }
}

.container34{
    display: flex;
    padding-right: 1.5em;
}


.container3{
                
                width:50%;
                display: flex;
                justify-content: space-around;
                text-align: justify;
                font-family: cursive;
                font-size: 15px;
                color: rgb(179,45,21);
                
            }
#haldi_img{
    width: 50%;
}

#haldispan{
    padding: 40;
}

@media (max-width:750px)
{
    .container3{
        flex-direction: column-reverse;
    }
    
    .container34
    {
        flex-direction: column;
    }
    
    #haldi_img{
        width: 200%;
        padding: 10;
    }
    #haldispan{
        width: 200%;
        padding: 10;
    }
}

#ul2{
    color: rgb(179,45,21);
}

.afooter{
    color: black;
}

.afooter:hover{
    color: rgb(179,45,21)
}

#head{
    font-family: fantasy;
    font-size: 30;
}

@media (max-width:550px)
{
    #ul2{
        text-align: center;
        font-size: 20px;
    }
}

#insta{
    font-size: 3.5em;
    color: deeppink;
}

#insta:hover{
    box-shadow: 2px 2px 2px 2px deeppink;
}

#fb{
    font-size: 3.5em;
    color: #07367b;
}

#fb:hover{
    
}

#whatsapp{
    font-size: 3.5em;
    color: green;
}

#whatsapp:hover{
    color: green;
}

#utube{
    color: red;
    font-size: 3.5em;
}

#socialtext{
    font-family: cursive;
    font-size:25;
    margin-top: 0.5em;
}

.social{
    display: flex;
    justify-content: space-around;
}

.social1{
    display: flex;
    justify-content: space-around;
    margin-left: 1.5em;
}

@media (max-width:550px)
{
    .social{
        flex-direction: column;
        text-align: center;
    }
}

.gallery{
        display: flex;
        justify-content: space-around;
        text-align: center;
}

#field1,#field2,#field3{
    width: 30%;
    height: 250;
    padding: 15;
    border: 2px solid rgb(179,45,21);
    box-shadow: 0px 0px 5px 0px yellow;
}


#field1{
    background-image: url(haldi.jpg);
    animation-name: masale;
    animation-duration:30s;
animation-delay:2s;
animation-iteration-count: infinite;
animation-direction: normal;
animation-timing-function: linear;
}

#field2{
    background-image: url(kaju.jpg);
    animation-name: dryfruits;
    animation-duration:30s;
animation-delay:2s;
animation-iteration-count: infinite;

}

#field3{
    
}

#legend{
    width:;
}

.gallery_span{
    background-color:rgb(179,45,21) ;
    color: yellow ; 
    border: 2px red solid;
    padding: 0.2em;
}

@keyframes masale{
 
    0%{background-image: url(black_salt.jpg)}
    25%{background-image: url(dhania.jpg);
    background-position: center;}
    50%{background-image: url(mirchi.jpg);
    background-position: center;}
    75%{background-image: url(mixmasala.jpg)}
}

@keyframes dryfruits{
 
    0%{background-image: url(almonds.jpg)}
    25%{background-image: url(peanut.jpg)}
    50%{background-image: url(walnut.jpg);
    background-position: center;}
    75%{background-image: url(kishmish.jpg);
        background-position: center;}
}

@keyframes owner{
 
    0%{background-image: url(black_salt.jpg)}
    25%{background-image: url(dhania.jpg)}
    50%{background-image: url(mirchi.jpg)}
    75%{background-image: url(mixmasala.jpg)}
}

@media (max-width:550px)
{
    .gallery{
        flex-direction: column;
    }
    
    #field1,#field2,#field3{
        width: 95%;
    }
}